/*
  변수명 사용 목적에 맞게 정하기
  그레이스케일 컬러의 사용 목적 3가지 - text, background, border
  흰색 다음으로 연한 색상은 대부분 배경으로 사용
  배경보다 조금 더 진하면 보더에 사용
*/

$black: #000;
$dark: #191a20;
$primary: #3f4150;
$secondary: #8c8d96;
$tertiary: #b2b3b9;
$border: #e0e2e7;
$background: #f7f8fa;
$white: #fff;
$blue: #3da5f5;
$blue-dark: #3186c4;
$blue-light: #ecf6fe;
$red: #f86d7d;
$green: #22c58b;
