%form-base {
  /* form 관련 요소 default style */
  @include text-style(16, $primary);

  display: block;
  width: 100%;
  height: 40px;
  padding: 0 16px;
  background-color: $white;
  border: 1px solid $border;
  border-radius: 4px;
  appearance: none; /* 브라우저 기본 스타일 초기화 */
  transition: background-color 200ms ease-in-out;

  &::placeholder {
    color: $tertiary;
  }

  &:not(:disabled):hover {
    background-color: $background;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.form-select,
.input-select {
  @extend %form-base;
}

/* NOTE: Select */
.select-group {
  position: relative;

  .form-select {
    padding-right: 40px;
    text-overflow: ellipsis;
  }

  .ic-caret {
    @include pos-center-y;

    right: 8px;
    font-size: 24px;
    color: $tertiary;
    pointer-events: none; /* 화살표 아이콘 요소 영역 클릭 시 select 동작 안하는 부분 해결 방법 */
  }

  &.is-active {
    .form-select {
      border-color: $blue;
    }

    .ic-caret {
      color: $blue;
    }
  }
}

/* Note: Input */
.input-group {
  position: relative;

  .form-input {
    padding-left: 40px;
  }

  .ic-search {
    @include pos-center-y;

    left: 10px;
    font-size: 20px;
    color: $secondary;
  }
}
