.gnb {
  position: relative;
  border-bottom: 1px solid $border;

  &-wrapper {
    @include flexbox(between);

    height: 50px;
  }

  &-right {
    .button-group {
      @include flexbox(end);
      gap: 4px;
    }
  }

  .logo {
    @include pos-center;

    a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  @include responsive(T) {
    &-wrapper {
      height: 80px;
    }

    &-left {
      @include flexbox(start);

      gap: 32px;
    }

    &-right {
      @include flexbox(right);

      gap: 24px;

      .button-group {
        gap: 8px;

        .gnb-auth {
          display: inline-flex;
          gap: 12px;

          a {
            @include text-style(14, $secondary);

            font-weight: 700;

            &:hover {
              color: $blue;
            }
          }
        }
      }
    }

    .logo {
      position: static;
      transform: none;

      img {
        height: 24px;
      }
    }

    .btn-primary {
      display: inline-flex;
      gap: 4px;
      width: 88px;
    }
  }

  @include responsive(D) {
    &-right {
      .input-group {
        width: 264px;
      }
    }
  }
}
