.gnb {
  position: relative;
  border-bottom: 1px solid $border;

  &-wrapper {
    @include flexbox(between);

    height: 50px;
  }

  &-right {
    .button-group {
      @include flexbox(end);
      gap: 4px;
    }
  }

  .logo {
    @include pos-center;

    a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  &-icon-button {
    @include flexbox;

    width: 32px;
    height: 32px;
    font-size: 24px;
    color: $secondary;
  }

  &-menu-button {
    color: $blue;
  }

  @include responsive(T) {
    &-wrapper {
      height: 80px;
    }

    &-left {
      @include flexbox(start);

      gap: 32px;
    }

    &-right {
      @include flexbox(right);

      gap: 24px;

      .button-group {
        gap: 8px;
      }
    }

    .logo {
      position: static;
      transform: none;

      img {
        height: 24px;
      }
    }

    .btn-primary {
      display: inline-flex;
      gap: 4px;
      width: 88px;
    }
  }

  @include responsive(D) {
    &-right {
      .input-group {
        width: 264px;
      }
    }
  }
}
